
chapter01/BackgroundPingConsoleApp/.vs/
chapter01/BackgroundPingConsoleApp/BackgroundPingConsoleApp/obj/
chapter01/BackgroundPingConsoleApp/BackgroundPingConsoleApp/bin/
chapter01/BackgroundPingConsoleApp/BackgroundPingConsoleApp/binrel/
chapter01/BackgroundPingConsoleApp_2_param/.vs/
chapter01/BackgroundPingConsoleApp_2_param/BackgroundPingConsoleApp/obj/
chapter01/BackgroundPingConsoleApp_2_param/BackgroundPingConsoleApp/bin/
chapter01/BackgroundPingConsoleApp_2_param/BackgroundPingConsoleApp/binrel/
chapter01/BackgroundPingConsoleApp_3_pause/.vs/
chapter01/BackgroundPingConsoleApp_3_pause/BackgroundPingConsoleApp/obj/
chapter01/BackgroundPingConsoleApp_3_pause/BackgroundPingConsoleApp/bin/
chapter01/BackgroundPingConsoleApp_3_pause/BackgroundPingConsoleApp/binrel/