
chapter01/BackgroundPingConsoleApp/.vs/
chapter01/BackgroundPingConsoleApp/BackgroundPingConsoleApp/obj/
chapter01/BackgroundPingConsoleApp/BackgroundPingConsoleApp/bin/
chapter01/BackgroundPingConsoleApp/BackgroundPingConsoleApp/binrel/